@import url('https://fonts.googleapis.com/css?family=Staatliches|Thasadith:400,400i,700,700i');

.flex-container {
    display: flex;
    flex-direction: column;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #50779c;
    color: white;
    text-align: center;
    min-height:5px;
}


img {
width:60%;
height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

.column {
    float: left;
    padding: 10px;
    text-align: center;

  }
  
.column.side {
    width: 47%;
    text-align: center;
  }

.column.side h4 {
    width: 400px;
}




/*-----PARALLAX-----*/
.parallax {
    /* The image used */
    background-image: url("../assets/images/SFMUN_Delegates.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.parallax-about {
    /* The image used */
    background-image: url("../assets/images/IMG_7448.JPG");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-contact {
    /* The image used */
    background-image: url("../assets/images/IMG_2102.jpeg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#line {
    height: 2px;
    background-color: #50779c;
}

/*-----TEXT PRESETS-----*/
body {
    margin: 0px;
    font-family: helvetica;
    letter-spacing: 2px;
}

p{
    font-size:17px;
    color:black;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'helvetica';
    font-weight: 100;
    text-align: left;
    line-height: 1.5;
}

h1 {
    font-size: 35px;
    color:black;
    padding-left: 400px;
    padding-right: 400px;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: center;
    line-height: 1.5; 
}

h2 {
    font-size: 30px;
    color:black;
    padding-left: 400px;
    padding-right: 400px;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: center;
    line-height: 1.5; 
}

h3 {
    font-size: 22px;
    color:black;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: center;
    line-height: 1.5; 

}

h4 {
    font-size: 22px;
    color:black;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: left;
    line-height: 1.5; 

}

h5 {
    font-size: 28px;
    color:black;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: center;
    line-height: 1.5; 

}



/*-----DIV IDs-----*/
#body{
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;  
    margin-bottom: 3%
}

#conferences {
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;  
    background-color: #d1d1d1;
    text-align: center;
    text-align: left;
}

#top {
    text-align: center;
    background-color: rgba(94, 156, 228, 0.637);
    align-items: center;
    padding:10px;
    text-transform: uppercase; 
}
  
#top-about {
    text-align: center;
    background-color: rgba(94, 156, 228, 0.637);
    align-items: center;
    padding:10px;
    text-transform: uppercase; 
}

/*-----SOCIAL LINKS-----*/
.fa {
    padding: 0px;
    width: 15px;
    text-align: center;
    text-decoration: none;
}

.fa-twitter {
    background: white; 
    color: black;
}

  .fa-instagram {
    background: white;
    color: black;

}

#list {
    text-align: center;
    line-height: 2;
}
    

/*-----NEW NAV BAR-----*/

a {
    text-decoration: none;
  }
  
  nav {
    font-size:17px;
    color:black;
    font-family: 'helvetica';
    font-weight: 100;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 2px;
  }
  
  ul {
    background: #50779c;
      list-style: none;
      margin: 0;
      padding-left: 0;
    width: 100%;
  }
  
  li {
      color: black;
    background: white;
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color:black;
  }
  
  li:hover,
  li:focus-within {
      background: #50779c;
      cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
      background: #50779c;
      visibility: hidden;
    opacity: 0;
    min-width: 6rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
      left: 0;
      right: 3rem;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }

