* {
    box-sizing: border-box;
  }

body{
    font-family: Arial;

}

p {
    font-size: 30px;
}

#top{
    background-color: #90a0fd;text-align: center;
    justify-content: center;
    align-items: center;
    padding:10px;


}

#body{
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;  
}

.main-nav ul,.secondary-nav ul{
    margin:0;padding:0;list-style:none;line-height:1em;position:relative;z-index:8002
}

.main-nav ul li,.secondary-nav ul li{display:inline-block;position:relative;z-index:inherit}.main-nav ul{font-size:13px;text-align:right}.main-nav ul li{text-align:right;margin:0 0 0 30px}.main-nav ul li a,.main-nav ul li a:visited{color:#fff}.main-nav ul li a span,.main-nav ul li a:visited span{font-family:"Source Sans Pro",sans-serif;font-size:.85em;font-weight:400;letter-spacing:3px;font-family:"proxima-nova";font-size:13px;text-transform:uppercase;text-decoration:none;letter-spacing:.1em;font-weight:500;font-style:normal;line-height:2em}.main-nav ul li a:hover,.main-nav ul li a:focus{color:rgba(255,255,255,.7) !important}.main-nav ul li.active-link a,.main-nav ul li.active-link a:visited{color:rgba(11,4,4,.4)}