@media only screen and (max-width: 720px) 
{



.body{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;  
    margin-bottom: 3%
}


p{
    font-size:9px;
    color:black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'helvetica';
    font-weight: 100;
    text-align: left;
    line-height: 1.5;
}

h1 {
    font-size: 35px;
    color:black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: center;
    line-height: 1.5; 
}

h2 {
    font-size: 30px;
    color:black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: center;
    line-height: 1.5; 
}

h3 {
    font-size: 22px;
    color:black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: center;
    line-height: 1.5; 
}

h4 {
    font-size: 20px;
    color:black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: left;
    line-height: 1.5; 

}

h5 {
    font-size: 28px;
    color:black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'helvetica';
    font-weight: 400;
    text-align: center;
    line-height: 1.5; 
}

h6 {
  padding-left: 10%;
  padding-right: 10%;
}

.body ul {
    font-size:17px;
    color:black;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'helvetica';
    font-weight: 100;
    text-align: left;
    line-height: 1.5;
  }

  

parallax {
    /* The image used */
    background-image: url("../assets/images/SFMUN_Delegates.jpg");
  
    /* Set a specific height */
    min-height: 100px; 

}
  
.parallax-about {
    /* The image used */
    background-image: url("../assets/images/IMG_7448.JPG");
  
    /* Set a specific height */
    min-height: 100px; 

}

.parallax-conference {
    /* The image used */
    background-image: url("../assets/images/conference\ pic.jpeg");
  
    /* Set a specific height */
    min-height: 100px
}

.parallax-contact {
    /* The image used */
    background-image: url("../assets/images/IMG_2102.jpeg");
  
    /* Set a specific height */
    min-height: 100px;
}


.parallax-photos {
    /* The image used */
    background-image: url("../assets/images/Oracle_Photo.JPG");
  
    /* Set a specific height */
    min-height: 100px; 

  }
  
  .parallax-isdnd {
    /* The image used */
    background-image: url("../assets/images/SFMUN_Photo_2.JPG");
  
    /* Set a specific height */
    min-height: 100px; 
  

  }
  
  .parallax-leadership {
    /* The image used */
    background-image: url("../assets/images/Oracle_Photo_2.JPEG");
  
    /* Set a specific height */
    min-height: 100px; 

  }
  .column {
    float: left;
    padding: 2px;
    text-align: center;
  }
  
.column.side {
    width: 47%;
    text-align: center;
  }

  .column.middle {
    margin-left: 0%;
    margin-right: 0%;
    width: 47%;
    text-align: center;
  }

  /*---NAV MOBIILE---*/

    .main-menu {
      height:50px;
    }
    .container-menu {
      width:100%;
    }
    .navigation {
      float:left;
      display:block;
      width:100%;
    }
    .core-menu {
      float:right;
      width:100%;
      background:white;
      margin:auto;
      display:none;
    }
    
    .core-menu li {
      width:100%;
      display:block;
    }
    .core-menu li a{
      display:block;
      margin:auto;
    }
    .hamburger-menu {
      display:block;
      text-align:center;
      padding-right:60px;
      float:none;
      width:100%;
    }
    .burger-1, .burger-2, .burger-3 {
    display:block;
    position:absolute;
    width:20px;
    height:3px;
    border-radius:30px;
    right:0;
    margin-right:25px;
    background:black;
      -webkit-transition:.2s ease;
      -ms-transition:.2s ease;
      -moz-transition:.2s ease;
      -o-transition:.2s ease;
    transition:.2s ease; 
    }
    .burger-1 {
    top:15px;
    }
    .burger-2 {
    top:23px;
    }
    .burger-3 {
    top:31px;
    }
    .burger-1.open, .burger-2.open, .burger-3.open {
    -webkit-transition:.2s ease;
    -ms-transition:.2s ease;
    -moz-transition:.2s ease;
    -o-transition:.2s ease;
      transition:.2s ease;
      transform-origin:50% 50%;
    }
    .burger-1.open {
      top:25px;
      width:23px;
      transform:rotate(45deg);
      -webkit-transform:rotate(45deg); 
      -ms-transform:rotate(45deg); 
      -moz-transform:rotate(45deg); 
      -o-transform:rotate(45deg); 
    }
    .burger-2.open {
      opacity:0;
    }
    .burger-3.open {
      top:25px;
      width:23px;
      transform:rotate(-45deg);
    }
    .dropdown {
      width:100%;
      background:#d8d8d8;
      text-align:center;
      position:relative;
    }
    .dropdown2 {
      right:0;
      top:0;
      width:100%;
      position:relative;
      padding:0 20px;
    }

   
}
